 <%- include('../partials/head')%>
</head>
<body>
  <header>

    <p>Home register successfully</p>
  </header>
   <%- include('../partials/header')%>
  <main>

    <a href="/">go to Home</a>
  </main>
</body>
</html>