<form action="/favourites" method="POST">

    <button type="submit" bg-green-500 hover:bg-green-600 text-white px-5 py-2 rounded-lg">
        Add to Favorite
    </button>
    <input type="hidden" name="id" value="<%= home._id %>"/>
</form>